

<mat-card>
  <mat-card-header> <h2>Aufgabenstellung</h2> </mat-card-header>
  <mat-card-content>
    <ul>
    <li>Wenn Sie näher an einem Ausgang sind als an einem Telefon, wählen Sie das Telefon. <br> -o-------X--- -> Mallorca </li>
    <br>
    <li>Befinden sich zwei Telefone in gleicher Entfernung, wählen Sie dasjenige, das näher an einem der
      Ausgänge liegt.  <br> -X-o-X-------- -> Barcelona</li>
      <br>
    <li>Wenn es wieder keinen Unterschied gibt, fahren Sie nach Mallorca.  <br> -X-o-X- -> Mallorca</li>
    <br>
    <li>Wenn Sie sich in einem Abschnitt mit einer Telefonnummer befinden, dann geben Sie ein Telefonsymbol aus  <br> ---(o/X)---x--  -> Telefon</li>
  </ul>
</mat-card-content>
</mat-card>

